<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<!---->

<body>
<main>
<div class="container">
    <form class="row" action="/login" method="post">
        <input type="text" id="u" name="uname" class="col-sm-6 form-control" placeholder="Username">
        <input type="text" id="p" name="pswd" class="col-sm-6 form-control" placeholder="Password">
        <input type="submit" value="Login" class="btn btn-primary col-sm-12">
    </form>
</div>
</main>



</body>
</html>